<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.1" />
    </startup>
  <appSettings>
    <add key="SB.Ns" value="BreanosSB"/>
    <add key="SB.Fqdn" value="spf-sb01"/>
    <add key="SB.HttpPort" value="9355"/>
    <add key="SB.TcpPort" value="9354"/>
  </appSettings>
    
</configuration>