<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Apache.NMS" version="1.7.1" targetFramework="net47" />
  <package id="Apache.NMS.ActiveMQ" version="1.7.2" targetFramework="net47" />
  <package id="BreanosConnectors.Kpu.Communication.Common" version="0.7.7" targetFramework="net47" />
  <package id="BreanosConnectors.SerializationHelper.Standard" version="0.0.2" targetFramework="net461" />
</packages>