<Configuration>
 
  <Connection>
    <!--<Endpoint>activemq:tcp://bre-dev02:61616</Endpoint>-->
    <!--<Endpoint>activemq:tcp://192.168.50.1:61616</Endpoint>-->
    <Endpoint>activemq:tcp://localhost:61616</Endpoint>
    <User>admin</User>
    <Password>admin</Password>
  </Connection>
  <Routes>
    <FromBlackboard>queue://AssistantQueue</FromBlackboard>
    <ToBlackboard>queue://LineTopic_1</ToBlackboard>
  </Routes>
 
  
</Configuration>
