<?xml version="1.0" encoding="utf-8" ?>
<RoutingTable>
  <ContentType name="DU1">
    <Queues>
      <Queue>queue://DataMartTopic_1</Queue>
    </Queues>
  </ContentType>
  <ContentType name="MU1">
    <Queues>
      <Queue>queue://MachineUnitTopic_1</Queue>
    </Queues>
  </ContentType>
</RoutingTable>