<Configuration>
 
  <Connection>
    <Endpoint>activemq:tcp://localhost:61616</Endpoint>
    <!--<Endpoint>activemq:tcp://bre-dev02:61616</Endpoint>-->
    <!--<Endpoint>activemq:tcp://localhost:61616</Endpoint>-->
    <User>admin</User>
    <Password>admin</Password>
  </Connection>
  <Topics>
    <TOPIC_FOR_STATUS_UPDATE>queue://DataMartTopic_1</TOPIC_FOR_STATUS_UPDATE>
    <TOPIC_FOR_ANSWER>queue://MachineUnitTopic_1</TOPIC_FOR_ANSWER>
  </Topics>
 
  
</Configuration>


